/*  your css code here. If applicable */
h1 , h2 {
	text-align : center ;
}

body {
	background-color: rgb(204, 204, 204)
}
ul {
	list-style : none ;
}

.songList  {
	background-color : white ;
	border : 1px black solid ;
	border-radius : 2px ;
}

.player_one,
.player_two {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
}

ul li {
	list-style : none ;
}
a {
	text-decoration-line : none ;
}
